<p-dialog #op class="ui-g-nopad" appendTo="body" header="{{headerText}}" [responsive]="true" [contentStyle]="{'overflow':'visible', 'max-width':'50vw', 'padding':'0'}"
    [dismissableMask]="false" [(visible)]="visible" [modal]="true">
    <form class="ui-g-12 ui-g-nopad">
        <p-panel [showHeader]="false" class="ui-g ui-g-nopad">
            <div class="ui-grid-row">
                <p-fieldset legend="Commitment Details">

                    <div class="ui-grid-row">
                        <label class="ui-g-4" for="date">Date Created:</label>
                        <div class="ui-g-8">
                            <p-calendar name="date" [showIcon]="true" id="date" dateFormat="M dd, yy" [(ngModel)]="commitment.created"></p-calendar>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <label class="ui-g-4">Party:</label>
                        <div class="ui-g-8">
                            <app-party-picker-dropdown [(selectedValue)]="commitment.party"></app-party-picker-dropdown>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <label class="ui-g-4">Context: </label>
                        <div class="ui-g-8">
                            <app-context-selector [(selectedValue)]="commitment.context"></app-context-selector>
                        </div>
                    </div>


                    <div class="ui-grid-row">
                        <label class="ui-g-4">Administration:</label>
                        <div class="ui-g-8">
                            <app-administration-selector [(selectedValue)]="commitment.administration"></app-administration-selector>
                        </div>
                    </div>


                    <label class="ui-g-4">Tags:</label>
                    <div class="ui-g-8">
                        <app-tag-selector [(selectedValue)]="commitment.tags"></app-tag-selector>
                    </div>
                    <div *ngIf="commitment.context != 'Election'">
                        <label class="ui-g-4">Lead Ministries:</label>
                        <div class="ui-g-8">
                            <app-ministry-selector [(selectedValue)]="commitment.leadMinistries"></app-ministry-selector>
                        </div>

                        <label class="ui-g-4">Supporting Ministries:</label>
                        <div class="ui-g-8">
                            <app-ministry-selector [(selectedValue)]="commitment.supportingMinistries"></app-ministry-selector>
                        </div>

                    </div>


                    <div class=" ui-grid-row">
                        <label class="ui-g-12" for="commitment-text">Commitment Text</label>
                        <textarea class="ui-g-12" [attr.maxlength]="maxlength" id="commitment-text" [rows]="5" [(ngModel)]="commitment.text" [ngModelOptions]="{standalone: true}"
                            pInputTextarea></textarea>
                        <p> {{commitment.text.length}} / {{maxlength}}</p>
                    </div>

                </p-fieldset>
                <app-statement-listing [showSearch]="false" class="ui-g-12" [statements]="commitment.statements"></app-statement-listing>

            </div>
            <p-footer>
                <button (click)="confirmDelete()" [disabled]="!editMode" class="ui-button-danger" pButton icon="fa-trash" label="Delete"></button>

                <div class="float-right" *ngIf="editMode">
                    <button type="submit" (click)="saveEdit()" pButton icon="fa-check" label="Save"></button>
                    <button type="button" [disabled]="!editMode" (click)="onCancel()" pButton icon="fa-close" label="Cancel"></button>

                </div>
                <div class="float-right" *ngIf="!editMode">
                    <!-- <button type="reset" pButton icon="fa-eraser" label="Reset"></button> -->
                    <button type="submit" (click)="onSubmit()" pButton icon="fa-check" label="Save"></button>
                </div>
            </p-footer>
        </p-panel>
    </form>

</p-dialog>