<div class="ui-g-12 ui-g ui-g-nopad" >
  <div class="ui-widget-header ui-g-12" style="padding:4px 10px;border-bottom: 0 none">

    <div class="ui-inputgroup">
      <input #statementFilter type="text" class="ui-g-12" pInputText placeholder="Search" />
      <button pButton type="button" icon-pos="left" icon="fa-search"></button>
    </div>
  </div>
  <p-dataTable appAriaBusy [ariaBusy]="loading" [loading]="loading" [globalFilter]="statementFilter" [value]="statementsObservable  | async" dataKey="id" [rows]="3" [paginator]="true"
    [pageLinks]="3">

    <p-column field="date" header="Date">
      <ng-template let-col let-statement="rowData" pTemplate="body">
        {{statement.created | date}}
      </ng-template>
    </p-column>
    <p-column field="description" [style]="{'width':'70%'}" header="Statement">
      <ng-template let-statement="rowData" pTemplate="body">
        {{statement.description | truncate:[truncateLength]}}<span *ngIf="statement.description.length > truncateLength">...<app-truncate-expander [text]="statement.description"></app-truncate-expander></span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-button" [style]="{'width':'50px'}">
      <ng-template let-statement="rowData" pTemplate="body">
        <button type="button" pButton (click)="unlink(statement)" tooltipPosition="left" pTooltip="Unlink from this commitment" icon="fa-unlink"></button>
      </ng-template>
    </p-column>

  </p-dataTable>
</div>