<section class="main ui-grid ui-g-12 ui-g-nopad extract-statements" *ngIf="source; else none">
  <p-fieldset class="ui-g-9 ui-g-nopad" legend="Source Details">
    <dl class="listing">
      <dt>Date</dt>
      <dd>{{source.publishedOn ? (source.publishedOn | date) : "Unknown"}}</dd>
      <dt>Title</dt>
      <dd>{{source.title}}</dd>
    </dl>

    <app-pdf-renderer [url]="source.sourceUrl" class="ui-g-12 ui-g-nopad"></app-pdf-renderer>
  </p-fieldset>

  <div class="ui-g-3">
    <app-create-statement [source]="source" [statement]="statement" [showHeader]="true"></app-create-statement>
  </div>
</section>

<ng-template #none>
  <div class="ui-g-12">
    Error: No item selected.
  </div>
</ng-template>