<p-dialog [(visible)]="visible" [appendTo]="'body'" [contentStyle]="{'max-width':'50vw', 'min-height': '80vh'}" [modal]="true">

  <p-header>
    Link Statement to Commitment
  </p-header>

  <blockquote *ngIf="statement"><i class="fa fa-quote-left" aria-hidden="true"></i> {{statement.description}}
  </blockquote>

  <div class="ui-g-12 ui-md-12">
    <label class="sr-only" for="search-bar">Search for Commitments</label>
    <div class="ui-inputgroup">
      <input id="search-bar" type="text" class="ui-g-12" [(ngModel)]="queryObject.text" [formControl]="searchControl" pInputText
        placeholder="Search" />
      <button pButton type="button" icon-pos="left" icon="fa-search"></button>
    </div>
  </div>

  <div class="ui-g-12 ui-g">
    <p appAriaBusy [ariaBusy]="loading" class="ui-g-12 ui-g-nopad" *ngIf="summary"><span *ngIf="summary.resultCount > 0">{{page + 1}} - {{((numRows + page) > summary.resultCount)? summary.resultCount : (numRows + page) }} of</span>      {{summary.resultCount}} results <span *ngIf="summary.queryAsString !== ''">for {{summary.queryAsString}}</span></p>
    <p-dataTable #dt footerStyleClass="no-bg" [loading]="loading" selectionMode="multiple" [value]="commitments | async" dataKey="id"
      [(selection)]="selectedCommitments" [(first)]="page" [rows]="10" [paginator]="true" [pageLinks]="3">
      <p-header>
        Commitments
      </p-header>
      <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
      <p-column field="date" header="Date">
        <ng-template let-col let-commitment="rowData" pTemplate="body">
          {{commitment.date | date}}
        </ng-template>
      </p-column>
      <!--Displaying political party column  -->
      <p-column field="party" [sortable]="true" header="Party">
        <ng-template let-col let-commitment="rowData" pTemplate="body">
          <app-party-color-square class="ui-g-3" [party]="commitment.party"></app-party-color-square>
          <span class="ui-g-9">{{commitment.party}}</span>
        </ng-template>
      </p-column>

      <!--Displaying political party column  -->
      <p-column field="text" [style]="{'width':'50%'}" header="Commitment">
        <ng-template let-commitment="rowData" pTemplate="body">
          {{commitment.text}}
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <p-footer>
    <button type="submit" (click)="onSubmit()" pButton icon="fa-check" label="Save"></button>
    <button type="button" (click)="onCancel()" pButton icon="fa-close" label="Cancel"></button>

  </p-footer>

</p-dialog>