<form [formGroup]="sourceForm" (ngSubmit)="onSubmit()">
  <p-panel header="Source Reference">
    <div class="ui-grid ui-grid-pad">
      <!--SOURCE URL-->
      <div class="ui-g-row">
        <label for="sourceUrl" class="ui-g-3">Source <abbr title="Uniform Resource Locator">URL</abbr></label>
        <div class="ui-g-9">
          <input (change)="onChange()" class="ui-g-12" name="sourceUrl" id="sourceUrl" aria-required="true" formControlName="sourceUrl"
            type="url" pInputText placeholder="Source URL" [(ngModel)]="source.sourceUrl" />
          <div *ngIf="!sourceForm.controls['sourceUrl'].valid&&sourceForm.controls['sourceUrl'].dirty">
            <span><i class="fa fa-close"></i> Required field</span>
          </div>
        </div>
      </div>

      <!--Source Document-->
      <div class="ui-g-row">
        <label class="ui-g-3" for="sourceUpload">Have a document? Upload it here:</label>
        <p-fileUpload class="ui-g-9" name="sourceUpload" id="sourceUpload" customUpload="true" (uploadHandler)="fileUploader($event)"
          maxFileSize="1000000">
          <ng-template let-file pTemplate="file">
            <div>{{file.name}} - {{file.size}} </div>
          </ng-template>
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
          <ng-template pTemplate="toolbar">
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </p-panel>
  <p-panel header="Source Info">
    <div class="ui-grid ui-grid-pad">
      <!--Publishing Date -->
      <div class="ui-g-row">
        <label for="publishingDate" class="ui-g-3">Publishing Date</label>
        <p-calendar (change)="onChange()" class="ui-g-9" id="publishingDate" [style]="{'width':'100%', 'padding': '0'}" formControlName="publishingDate"
          [(ngModel)]="source.publishedOn"></p-calendar>
      </div>


      <div class="ui-g-row">
        <label for="mediaType" class="ui-g-3">Media Type</label>
        <div class="ui-g-9">

          <p-autoComplete (change)="onChange()" [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}" formControlName="mediaType"
            [(ngModel)]="source.media" [suggestions]="filteredMediaTypes" (completeMethod)="filterMediaList($event)" field=""
            [size]="30" placeholder="Type for suggestions..." [minLength]="1"></p-autoComplete>
          <div *ngIf="!sourceForm.controls['mediaType'].valid&&sourceForm.controls['mediaType'].dirty">
            <span><i class="fa fa-close"></i> Required field</span>
          </div>
        </div>

      </div>

      <div class="ui-g-row">
        <label for="sourceType" class="ui-g-3">Source Type</label>
        <div class="ui-g-9">

          <p-autoComplete (change)="onChange()" [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}" formControlName="sourceType"
            [(ngModel)]="source.sourceType" [suggestions]="filteredSourceTypes" (completeMethod)="filterSourceList($event)" field=""
            [size]="30" placeholder="Type for suggestions..." [minLength]="1"></p-autoComplete>
          <div *ngIf="!sourceForm.controls['sourceType'].valid&&sourceForm.controls['sourceType'].dirty">
            <span><i class="fa fa-close"></i> Required field</span>
          </div>
        </div>

      </div>


    </div>

  </p-panel>
  <div class="ui-g-12">
    <button class="ui-g-12 bottom" *ngIf="showSubmit" pButton type="submit" [disabled]="!sourceForm.valid" label="Done"></button>
  </div>

</form>