<div class="ui-g-12 ui-g ui-g-nopad">
  <div class="ui-widget-header ui-g-12" style="padding:4px 10px;border-bottom: 0 none">

    <div class="ui-inputgroup">
      <input #filter type="text" class="ui-g-12" pInputText placeholder="Search" />
      <button pButton type="button" icon-pos="left" icon="fa-search"></button>
    </div>
  </div>
  <p-dataTable [loading]="loading" [globalFilter]="filter" [value]="commitmentsObservable  | async" dataKey="id" [rows]="10" [paginator]="true"
    [pageLinks]="3">

    <p-column field="date" header="Date">
      <ng-template let-col let-commitment="rowData" pTemplate="body">
        {{commitment.date | date}}
      </ng-template>
    </p-column>
    <p-column field="text" [style]="{'width':'70%'}" header="Commitment">
      <ng-template let-commitment="rowData" pTemplate="body">
        {{commitment.text | truncate:[truncateLength]}}<span *ngIf="commitment.text.length > truncateLength">...<app-truncate-expander [text]="commitment.text"></app-truncate-expander></span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-button" [style]="{'width':'50px'}">
      <ng-template let-commitment="rowData" pTemplate="body">
        <button type="button" pButton (click)="unlink(commitment)" tooltipPosition="left" pTooltip="Unlink from this commitment"
          icon="fa-unlink"></button>
      </ng-template>
    </p-column>

  </p-dataTable>
</div>