<div class="ui-g-12 ui-md-12">
  <div class="ui-inputgroup">
    <input type="text" class="ui-g-12" [(ngModel)]="queryObject.description" [formControl]="searchControl" pInputText placeholder="Search"
    />
    <button pButton type="button" icon-pos="left" icon="fa-search"></button>
  </div>

</div>


<div class="ui-g-12 ui-g">
  

  <h1>Statements (Results)</h1>
  <p appAriaBusy [ariaBusy]="loading" class="ui-g-12 ui-g-nopad" *ngIf="summary"><span *ngIf="summary.resultCount > 0">{{page + 1}} - {{((numRows + page) > summary.resultCount)? summary.resultCount : (numRows + page) }} of</span>    {{summary.resultCount}} results <span *ngIf="summary.queryAsString !== ''">for {{summary.queryAsString}}</span></p>
  <p-dataTable selectionMode="multiple" appAriaBusy [ariaBusy]="loading" [loading]="loading" [value]="statements | async" dataKey="id"
    [(selection)]="selectedStatements" (onRowSelect)="selectItem($event)" (onRowUnselect)="unselectItem($event)" [rows]="numRows"
    [paginator]="true" [(first)]="page" [pageLinks]="3">

    <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
    <p-column field="date" header="Date">
      <ng-template let-col let-statement="rowData" pTemplate="body">
        {{statement.created | date}}
      </ng-template>
    </p-column>
    <p-column [sortable]="true" field="politicalParty" header="Party">
      <ng-template let-col let-statement="rowData" pTemplate="body">
        <app-party-color-square class="ui-g-3" [party]="statement.politicalParty"></app-party-color-square>
        <span class="ui-g-9">{{statement.politicalParty}}</span>
      </ng-template>
    </p-column>
    <p-column field="description" [style]="{'width':'50%'}" header="Statement">
      <ng-template let-statement="rowData" pTemplate="body">
        {{statement.description | truncate:[truncateLength]}}<span *ngIf="statement.description.length > truncateLength">... <app-truncate-expander [text]="statement.description"></app-truncate-expander></span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-button" field="flagged" [sortable]="true" [style]="{'width':'50px'}">
      <ng-template let-statement="rowData" pTemplate="body">
        <p-checkbox class="chckbox-flag" binary="true " [(ngModel)]="statement.flagged" (click)="flagItem(statement)"></p-checkbox>
      </ng-template>
    </p-column>
    <p-footer>
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file" iconPos="left" label="Download" (click)="exportData()" style="float:right"></button>
      </div>
    </p-footer>

  </p-dataTable>
</div>