<app-main-layout>
  <ng-container sidebar-side>
    <div class="ui-g-12 ui-g-nopad">
      <div class="side-bar">
        <app-query-statement></app-query-statement>
      </div>
    </div>
  </ng-container>
  <ng-container left-side>
    <app-view-all-statements (selectedStatementsChange)="setSelectedStatements($event)" (itemSelected)="setSelected($event)"
      [commitment]="commitment"></app-view-all-statements>
  </ng-container>
  <ng-container right-side>
    <app-view-statement  (edit-complete)="refreshStatements()" [commitment]="commitment" [loading]="loadingData" [statement]="statementObservable | async"></app-view-statement>
  </ng-container>
</app-main-layout>