<form class="ui-g-12 ui-g-nopad" [formGroup]="formGroup">
  <p-panel [showHeader]="showHeader" header="Create Statement" class="ui-g-12 ui-g-nopad">
    <div class="ui-grid-row">
      <label class="ui-g-4 b" for="statementContext">Context:</label>
      <div class="ui-g-8">
        <app-context-selector id="statementContext" [(selectedValue)]="statement.context"></app-context-selector>
      </div>
    </div>
    <div class="ui-grid-row">
      <label class="ui-g-4 b" for="statementPart">Party <app-info-circle [text]="'This field has been pre-populated by the source'"></app-info-circle>:</label>
      <div class="ui-g-8">
        <app-party-picker-dropdown [disabled]="true" [(selectedValue)]="statement.politicalParty"></app-party-picker-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <label class="ui-g-4 b" for="statementIndividual">Individual:</label>
      <div class="ui-g-8">
        <input id="statementIndividual" class="ui-g-12 ui-g-nopad" formControlName="individual" type="text" pInputText [(ngModel)]="statement.statementAuthor" />
      </div>
    </div>
    <label class="ui-g-4 b" for="statementText">Statement Text:</label>
    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['text'].valid&&formGroup.controls['text'].dirty">
        <i class="fa fa-close"></i> Required field
      </div>
    <div class="ui-grid-row">
      <textarea class="ui-g-12" [(ngModel)]="statement.description" formControlName="text" pInputTextarea style="margin:0 .5em;"></textarea>
    </div>
    <p-footer>
      <div *ngIf="editMode; else altOptions">
        <button (click)="confirmDelete()" [disabled]="!editMode" class="ui-button-danger" pButton icon="fa-trash" label="Delete"></button>
        <div class="ui-toolbar-group-right" *ngIf="editMode">
          <button type="submit" (click)="saveEdit()" [disabled]="!formGroup.valid" pButton icon="fa-check" label="Save"></button>
          <button type="button" [disabled]="!editMode" (click)="onCancel()" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"></button>
        </div>
      </div>
      <ng-template #altOptions>
        <div class="ui-helper-clearfix">
          <div class="ui-toolbar-group-right">
            <button type="submit" [disabled]="!formGroup.valid" (click)="onSubmit()" pButton icon="fa-check" label="Save"></button>
            <button type="button" [disabled]="!editMode" (click)="onCancel()" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"></button>
          </div>
        </div>
      </ng-template>
    </p-footer>
  </p-panel>
</form>
