<div class="ui-g-12 ">

  <h2>Filter Results <button pButton type="reset" label="Reset" (click)="reset()" icon="fa-refresh"></button></h2>
  <form>
    <label class="ui-g-4">Text:</label>
    <div class="ui-grid-row">
      <div class="ui-g-8">
        <input id="search-bar" type="text" class="ui-g-12" [(ngModel)]="queryObject.text" [formControl]="searchControl" pInputText
          placeholder="Search" />

      </div>
    </div>

    <div class="ui-grid-row">
      <label class="ui-g-4">Party:</label>
      <div class="ui-g-8">
        <app-party-picker-dropdown [(selectedValue)]="queryObject.party" (selectedValueChange)="onChange()"></app-party-picker-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <label class="ui-g-4">Context:</label>
      <div class="ui-g-8">
        <app-context-selector [(selectedValue)]="queryObject.context" (selectedValueChange)="onChange()"></app-context-selector>
      </div>
    </div>
    <div class="ui-grid-row">
      <label class="ui-g-4">Administration:</label>
      <div class="ui-g-8">
        <app-administration-selector [(selectedValue)]="queryObject.administration" (selectedValueChange)="onChange()"></app-administration-selector>
      </div>
    </div>

    <div class="ui-grid-row">
      <label class="ui-g-4">Tags:</label>
      <div class="ui-g-8">
        <app-tag-selector [(selectedValue)]="queryObject.tags" (selectedValueChange)="onChange()"></app-tag-selector>
      </div>
    </div>


    <div class="ui-grid-row">
      <label class="ui-g-4">Year:</label>
      <div class="ui-g-8">
        <app-year-selector [startYear]="startYear" [(selectedValue)]="queryObject.year" (selectedValueChange)="onChange()"></app-year-selector>
      </div>
    </div>


  </form>
</div>